In [2]:
import pandas as pd

In [5]:
df = pd.read_csv("salaries_by_college_major.csv")

# get the number of Rows.
nrows = df.shape[0]

# Get the number of Columns.
ncols = df.shape[1]

names_col= df.colnames

In [7]:
# Get the number of rows
df.shape[0]

# get the number iof columns
df.shape[2]

51

In [9]:
# Get the names of the columns.
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

In [12]:
# is there mising data 
df.isna()
# Yes in the last row where the source of the data is referenced
df.tail()

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
46,Psychology,35900.0,60400.0,31600.0,127000.0,HASS
47,Religion,34100.0,52000.0,29700.0,96400.0,HASS
48,Sociology,36500.0,58200.0,30700.0,118000.0,HASS
49,Spanish,34000.0,53100.0,31000.0,96400.0,HASS
50,Source: PayScale Inc.,NaN,NaN,NaN,NaN,NaN

In [14]:
df_naclear = df.dropna()

In [16]:
# Find largest starting median salary
df_naclear["Starting Median Salary"].max()

74300.0

In [18]:
df_naclear["Starting Median Salary"].idxmax()

43

In [21]:
df_naclear["Undergraduate Major"].iloc[df_naclear["Starting Median Salary"].idxmax()]

'Physician Assistant'

In [23]:
# alrtenraive to above to get he same result
df_naclear["Undergraduate Major"][43]

'Physician Assistant'

In [25]:
# Get all of the 44 row.
df_naclear.loc[43]

Undergraduate Major                  Physician Assistant
Starting Median Salary                           74300.0
Mid-Career Median Salary                         91700.0
Mid-Career 10th Percentile Salary                66400.0
Mid-Career 90th Percentile Salary               124000.0
Group                                               STEM
Name: 43, dtype: object

In [28]:
# Find the career with maximum mid career salary (its chemical engineers)
df_naclear["Undergraduate Major"].iloc[df_naclear["Mid-Career Median Salary"].idxmax()]

# The chemical engineers earn .
df_naclear["Mid-Career Median Salary"].max()

107000.0

In [31]:
# Find the career with minimum starting career salary (spanish)
df_naclear["Undergraduate Major"].iloc[df_naclear["Starting Median Salary"].idxmin()]

# The spanish grads earn.
df_naclear["Starting Median Salary"].min()

34000.0

In [33]:
# Find the career with minimum mid career salary (education)
df_naclear["Undergraduate Major"].iloc[df_naclear["Mid-Career Median Salary"].idxmin()]

# education is the career with salary of 52000.
df_naclear["Mid-Career Median Salary"].min()

52000.0

# Majors with the most and least risk

In [35]:
spread_col = df_naclear['Mid-Career 90th Percentile Salary'] - df_naclear['Mid-Career 10th Percentile Salary']
df_naclear.insert(1, 'Spread', spread_col)
df_naclear.head()

,Undergraduate Major,Spread,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 90th Percentile Salary,Group
0,Accounting,109800.0,46000.0,77100.0,42200.0,152000.0,Business
1,Aerospace Engineering,96700.0,57700.0,101000.0,64300.0,161000.0,STEM
2,Agriculture,113700.0,42600.0,71900.0,36300.0,150000.0,Business
3,Anthropology,104200.0,36800.0,61500.0,33800.0,138000.0,HASS
4,Architecture,85400.0,41600.0,76800.0,50600.0,136000.0,Business

In [36]:
low_risk = df_naclear.sort_values('Spread')
low_risk[['Undergraduate Major', 'Spread']].head()

           Undergraduate Major   Spread
40                     Nursing  50700.0
43         Physician Assistant  57600.0
41                   Nutrition  65300.0
49                     Spanish  65400.0
27  Health Care Administration  66400.0

In [37]:
highest_potential = df_naclear.sort_values('Mid-Career 90th Percentile Salary', ascending=False)
highest_potential[['Undergraduate Major', 'Mid-Career 90th Percentile Salary']].head()

     Undergraduate Major  Mid-Career 90th Percentile Salary
17             Economics                           210000.0
22               Finance                           195000.0
8   Chemical Engineering                           194000.0
37                  Math                           183000.0
44               Physics                           178000.0

In [38]:
highest_spread = df_naclear.sort_values('Spread', ascending=False)
highest_spread[['Undergraduate Major', 'Spread']].head()

   Undergraduate Major    Spread
17           Economics  159400.0
22             Finance  147800.0
37                Math  137800.0
36           Marketing  132900.0
42          Philosophy  132500.0